body{
     background-image: url("https://www.mountainphotography.com/images/xl/20091027-Kiva-Night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 387px; 
}

.card{
    background-color: black;
    border-width: 3px;
    border-color: white;
}

h1{
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 40px;
text-align: center;
}

h2{
    text-align: center;  
}

.btn{

    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

#submit{
    visibility: hidden;
}
